<!DOCTYPE html>
<html>
        <head lang="en">
            <meta charset="UTF-8">
            <title>龙洞村</title>
            <script language="javascript" type="text/javascript">
                window.onload = function() {
            var oTable = document.getElementById("pid");
            for ( var i = 0; i < oTable.rows.length; i++) {
                oTable.rows[i].cells[0].innerHTML = (i + 1);
                if (i % 2 == 0)
                    oTable.rows[i].className = "ys01";
            }
            }
        }

            </script>
        </head>
    <style>
    body{
        text-align: center;
    }
    #tt{
         margin: 0 auto;
}
    </style>
    <body>

        <table id="tt" border="2">
            <tr> <font>姓名查询：</font><input id="query_by_name"/><span style="padding: 10px"><button id="query_by_name_btn" onclick="queryPepople()">查  询</button></span> </tr>
            <tr> <td>序号</td>  <td>姓名</td> <td>身份证号</td> <td>户主</td> </tr>
            {%  for d in data %}
                <tr>
                    <td id="pid">{{ d.id}}</td> <td>{{ d.pName }}</td> <td>{{ d.pIdNo }}</td><td>{{ d.pHostName }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>